/* Import fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

/* CSS variables for the colors */
:root {
    /* Color format: #RRGGBBAA with AA the alpha */
    --main-bg-color: #1e1e1ecc; /* Dark background with transparency */
    --hover-bg-color: #009AA680; /* Hover color */
    --primary-color: #f39c12ff;  /* Orange without transparency */
    --secondary-color: #3498dbff; /* Blue without transparency */
    --body-bg-color: #000000e6;  /* Dark background with transparency for body and sections */
}

/* Reset margins and paddings for all elements */
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Global styles for the body */
body {
    margin: 0;
    padding: 0;
    background: url("./assets/background.jpg") center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #ffffff;
}

/* Styles for the header */
header {
    background-color: var(--main-bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    height: 80px;
    color: var(--primary-color);
}

/* Styles for the navigation */
nav {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

nav a {
    display: block;
    width: 33%;
    background-color: var(--main-bg-color);
    margin: 10px auto;
    color: #ffffff;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    border-radius: 15px;
}

nav a:hover {
    background-color: var(--hover-bg-color);
}

/* Styles for sections */
section {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: var(--body-bg-color);
}

/* Styles for h2 elements */
h2 {
    color: var(--secondary-color);
    margin-bottom: 30px;
}

/* Styles for paragraphs */
p {
    color: var(--primary-color);
}

/* Styles for navigation lists */
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 30%;
    height: 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
}

nav .prepa-sub.show {
    height: 305px;
    opacity: 1;
    transition: height 0.5s ease, opacity 0.5s ease;
}

nav ul li a {
    opacity: 0;
    transition: opacity 0.5s ease;
}

nav .prepa-sub.show li a {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Styles for the dashboard */
#dashboard {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: var(--main-bg-color);
}

#dashboard h2 {
    color: var(--primary-color);
}

/* Styles for the stats section */
#stats {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
}

#stats h1 {
    color: var(--secondary-color);
    font-size: 64px;
    margin: 30px 0 5px;
}

#stats p {
    margin-bottom: 25px;
}

#continents,
#countries,
#trips {
    width: 33%;
}

.continent-badge {
    display: inline-block;
    max-height: 30%;
    max-width: 30%;
}

.flag-mini {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.flags {
    display: inline-grid;
    column-gap: 3%;
    row-gap: 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-columns: 20%;
    margin-bottom: 30px;
}

#stats h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #stats {
        flex-direction: column;
        width: 90%;
    }

    #trips {
        order: 1;
    }

    #continents {
        order: 2;
    }

    #countries {
        order: 3;
    }

    #continents,
    #countries,
    #trips {
        width: 100%;
    }

    nav a {
        width: 75%;
    }

    nav ul  {
        width: 65%;
    }
}
