/* Define color variables */
:root {
  --main-bg-color: #1f3447ff;
  --text-color: #ffffffff;
  --hover-bg-color: #009AA6ff;
}

.btn {
  position: absolute;
  top: 85px;
  left: 5px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: var(--main-bg-color);
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.5s ease;
  z-index: 10;
}

.btn span:before {
  content: '▶';
}

.btn.click {
  left: 355px;
}

.btn span {
  color: var(--text-color);
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before {
  content: '◀';
}

.sidebar {
  left: -350px;
  width: 350px;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  /* Stay on top */
  top: 80px;
  background: none;
  overflow: hidden;
  padding-top: 0px;
  transition: left .5s ease;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text {
  top: 0px;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: var(--main-bg-color);
  opacity: 0.9;
  letter-spacing: 1px;
}

nav ul {
  background: var(--main-bg-color);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: none;
  background: none;
  border-left-color: transparent;
}

nav ul li a:hover {
  background: var(--hover-bg-color);
}

nav ul li .plan-show {
  display: none;
}

nav ul li .plan-show.show1 {
  display: block;
}

nav ul li.active ul li a {
  color: var(--text-color);
  background: var(--main-bg-color);
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: var(--text-color) !important;
  background: var(--hover-bg-color) !important;
}

nav ul ul li a {
  color: #ffffffff;
  padding-left: 80px;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.menuIcon {
  margin-top: 10px;
  height: 30px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .sidebar {
      width: 75%;
      left: -75%
  }
  
  .sidebar.show {
      left: 0px;
  }

  .btn.click {
    left: calc(75% + 5px);
  }
}