/* Define color variables */
:root {
    --main-bg-color: #1f3447;
    --text-color: #ffffff;
    --headerHeight: 80px;
  }
  
  /* Sidebar */
  #sideBar {
    right: -100%;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: var(--headerHeight);
    padding-top: 0px;
    transition: right .5s ease, width .5s ease;
  }
  
  /* Button Container */
  #BtnContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5px;
    height: 45px;
    width: 100px;
    right: calc(-100vw - 50px);
    overflow: hidden;
    z-index: 10;
    transition: right 0.5s ease;
  }
  
  /* Right Side Button */
  #rightSideBtn,
  #expandBtn {
    width: 45px;
    text-align: center;
    background: var(--main-bg-color);
    border-radius: 3px;
    cursor: pointer;
    transition: right 0.5s ease;
  }
  
  /* Right Side Button Text */
  #rightSideBtn span,
  #expandBtn span {
    color: var(--text-color);
    font-size: 28px;
    line-height: 45px;
  }
  
  /* Cross icon for Right Side Button */
  #rightSideBtn span:before {
    content: '\2716';
  }
  
  /* Expand icon for Expand Button */
  #expandBtn span:before {
    content: '\26F6';
  }
  
  /* Modify Expand Button's icon when clicked */
  #expandBtn.click span:before {
    content: '▶';
  }
  
  /* Spacing between buttons */
  #BtnSpace {
    width: 10px;
    transition: right 0.5s ease;
  }
  
  /* Sidebar text */
  #sideBar .text {
    top: 0px;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: var(--main-bg-color);
    opacity: 0.9;
    z-index: 11;
    letter-spacing: 1px;
  }
  
  /* Sidebar Content */
  #sideContent {
    background: var(--main-bg-color);
    color: var(--text-color);
    opacity: 0.85;
    width: 100vw;
    height: 100vh;
  }

  /* Media query for mobile devices */
@media (max-width: 768px) {
    #sideBar {
        width: 100vw;
        right: -100vw;
    }

    #expandBtn, #BtnContainer {
      display: none;
    }
  }